:root {
  --dark-grey: #4C5454;
  --red: #FF715B;
  --white: #FFFFFF;
  --green: #1EA896;
  --yellow: #EFCA08;
  --blue: #39A0ED;
  --page-border-inner: #1EA896;
  --page-border-outer: rgb(73, 73, 73);
}

.App {
  text-align: center;
  /* margin: 0 10%; */
  background-color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}

body {
  margin: 0 5%;
  /*color: var(--white);*/
  background-color: grey;
  background: linear-gradient(90deg, var(--page-border-outer) 0%, var(--page-border-inner) 6%, var(--page-border-inner) 94%, var(--page-border-outer) 100%); 
}

.plot {
  height: 600px;
  width: 96%;
  border:0px outset #999;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  padding-bottom: 8px;
  padding-left: 8px;
  margin-left: 1.7%;
}

.plotToolTip {
  background: rgba(255,255,255,0.8);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
  padding: 8px;
  font-weight: bold;
  text-align: left;
}

.plotToolTipSpan {
  font-weight: normal;
}

.Title {
  text-align: center;
  width: 50%;
  left: 0%;
  padding-left: 20vw;
  padding-right: 15vw;
  position: absolute;
  padding-top: 1vh;
  margin-top: 1vh;
  padding-bottom: 1vh;
  font-size: min(min(7vh, 4vw), 56px);

  background: rgb(255,113,91);
  background: linear-gradient(90deg, var(--green) 0%, var(--green) 70%, rgba(0,0,0,0) 90%); 

  color: white;
  border-bottom: var(-white);
  border-top: var(--white);
  border-width: 0;
  border-bottom-width: 0.5vh;
  border-top-width: 1vh;
  border-style: none;
}

.Heading {
  color: var(--blue);
}

.Loading {
  text-align: center;
  padding-top: 20vh;
  color: black;
  padding-bottom: 50vh;
}

.Q5 {
  margin-bottom: 40vh;
  overflow-anchor: none;
}

.text-left-right {
  text-align: right;
  position: relative;
}

/* .left-text {
  left: 0;
  position: absolute;
  font-size: 32px;
  color: rgb(0, 0, 0);
} */

.byline {
  font-size: 32px;
  padding-right: 0vw;
  padding-top: 0.5vh;
  height: min(min(12vh, 8vw), 100px);
  width: min(min(12vh, 8vw), 100px);
  position: sticky;
  color: rgb(0, 0, 0);
}