:root {
  --dark-grey: #4C5454;
  --red: #FF715B;
  --white: #FFFFFF;
  --green: #1EA896;
  --yellow: #EFCA08;
  --blue: #39A0ED;
}

.App {
  text-align: center;
}

body {
  margin: 0 10%;
  /*background-color: var(--dark-grey);
  color: var(--white);*/
}

.plot {
  height: 600px;
  width: 100%;
  border:0px outset #999;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.Title {
  color: var(--red);
  text-align: center;
  width: 50%;
  left: 25%;
  position: absolute;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: min(min(7vh, 4vw), 56px);
}

.Heading {
  color: var(--blue);
}

.Loading {
  text-align: center;
  padding-top: 20vh;
  color: black;
}

.text-left-right {
  text-align: right;
  position: relative;
}

/* .left-text {
  left: 0;
  position: absolute;
  font-size: 32px;
  color: rgb(0, 0, 0);
} */

.byline {
  font-size: 32px;
  padding-right: 5vw;
  height: min(min(12vh, 8vw), 100px);
  width: min(min(12vh, 8vw), 100px);
  color: rgb(0, 0, 0);
}