:root {
  --dark-grey: #4C5454;
  --red: #FF715B;
  --white: #FFFFFF;
  --green: #1EA896;
  --yellow: #EFCA08;
  --blue: #39A0ED;
}

.App {
  text-align: center;
}

body {
  margin: 0 10%;
  /*background-color: var(--dark-grey);
  color: var(--white);*/
}

.plot {
  height: 600px;
  width: 100%;
}

.Title {
  color: var(--red);
}

.Heading {
  color: var(--blue);
}
